body {
    width: 100vw;
    height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
}

/* top ballot */
.containeryellow1, .containeryellow2{
    background-color: #F5E200;
    width:100%;
}
.containeryellow1{
    height: 100px;
}
.detail{
    background-color: black;
    color: white;
    width: 20vw;
    height: 60px;
    text-align: center;
    margin: 20px;
    float: left;
}
h3{
    padding-top: 20px;
}
.detail + h2{
    float:right;
    margin: 20px;
    margin-top: 55px;
}

img{
    width: 100%;
}
/* bottom ballot */
.containeryellow2{
    height: 500px
}
.name, .surname, .phrase1, .phrase2{
    margin-left: 100px;
}
.name{
    padding-top: 90px;
    font-size: 3rem;
}
.surname{
    font-size: 4rem;
}
.phrase1{
    padding-top: 30px;
}

/* buttons */
#cancel, #print{
    width: 15vw;
    height: 5vh;
    background-color: #000;
    color: #fff;
    font-size:1rem;
    border-radius: 0.25rem;
    border: 1px solid #000;
}
#print{
    position: absolute;
    bottom: 15px;
    right: 15px;
}
#cancel{
    position: absolute;
    bottom: 15px;
    right: 180px;
}