body{
    background-color: #000;
}
form{
    width: 90%;
    height: 70%;
    border: 1px solid #fff;
    box-shadow: 0 0 15px 5px #fff;
    border-radius: 20px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
}
form section{
    width: 90%;
    border: 2px solid #000;
    border-radius:5px;
    padding: 20px;
    display: flex;
    align-items: center;
}
label{
    padding-left: 20px;
}
label, .timer{
    font-size: 1.5rem;
}
i {
    font-size:2rem;
}
figure {
    position:relative;
    left: 0;
    transition: transform 40s linear;
}
img{
    width: 10%;
}
#photographer{
    transform: translate(920px);
}
.endGame{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 61%, 0.342);
}
.fin{
    width: 50%;
    height: 10%;
    font-size:2.5rem;
    border-radius:20px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    top:auto;
    bottom:auto;
}
.fin:focus{
    outline: 2px solid #fff;
    outline-offset: 3px;
}
.timeLine{
    height: 2%;
    background: #ff0000;
}
.timer{
    width: 80%;
    background-color: hsl(0, 0%, 78%);
    border-radius: 10px;
    margin: 40px auto;
    padding: 20px;
    border: 1px dotted hsl(0, 0%, 45%);
    display: flex;
    justify-content:center;
}
.timer p:first-child{
    padding-right: 10px;
}
/* Esconde y muestra boton para finalizar juego */
.hide{
    display: none;
    visibility: hidden;
    overflow: hidden;
}
.show{
    background-color: #000;
    color: #fff;
}
/* Deshabilita opciones */
.disabled{
    pointer-events: none;
}
.yellow{
    background-color: hsl(55, 100%, 48%);
}
.blue{
    background-color: hsl(194, 99%, 47%);
}
.darkBlue{
    background-color: hsl(231, 100%, 27%);
}
.red{
    background-color: hsl(0, 100%, 42%)
}