body{
    background-color: #000;
}
form{
    width: 90%;
    height: 80%;
    border: 1px solid #fff;
    box-shadow: 0 0 15px 5px #fff;
    border-radius: 20px;
    margin: 0 auto;
    overflow: scroll;
}
form section{
    width: 90%;
    border: 2px solid #000;
    border-radius:5px;
    padding: 20px;
    margin: 10px auto;
    display: flex;
    align-items: center;
}
label{
    padding-left: 20px;
}
label{
    font-size: 1.75rem;
}
figure {
    width:90%;
    margin: 0 auto;
}
img{
    width: 100px;
    transition: transform 40s linear;
    transform: translate(830px);
}
.timer{
    width: 90%;
    height: 5%;
    font-size:1.75rem;
    background-color: hsl(0, 0%, 78%);
    border-radius: 15px;
    margin: 20px auto;
    overflow: hidden;
}
.cuentaNumero{
    width: 90%;
    position: absolute;
    top:2.5%;
    display: flex;
    justify-content:center;
}
.cuentaNumero p:first-child{
    padding-right: 10px;
}
.timeLine{
    position: relative;
    left: 0;
    height:100%;
    background: #ff0000;
}
/* Esconde y muestra boton para finalizar juego */
.hide{
    display: none;
    visibility: hidden;
    overflow: hidden;
}
.show{
    background-color: #000;
    color: #fff;
}
.endGame{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsl(0, 0%, 0%)
}
.fin{
    width: 50%;
    height: 10%;
    font-size:2.5rem;
    border-radius:20px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    top:auto;
    bottom:auto;
}
.fin:focus{
    outline: 2px solid #fff;
    outline-offset: 3px;
}
/* Deshabilita opciones */
.disabled{
    pointer-events: none;
}
.yellow{
    background-color: hsl(55, 100%, 48%);
}
.blue{
    background-color: hsl(194, 99%, 47%);
}
.darkBlue{
    background-color: hsl(231, 100%, 27%);
}
.red{
    background-color: hsl(0, 100%, 42%)
}