<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% styles.forEach(style => { %>
        <link rel="stylesheet" href="/css/<%= style %> ">
    <% }) %>
    <title>Game</title>
</head>
<body>
    <form method="post" action="/register">
        <section>
            <input type="checkbox" name="">
            <label>Lorem ipsum dolor sit amet</label>
        </section>
        <section>
            <input type="checkbox" name="">
            <label>Lorem ipsum dolor sit amet</label>
        </section>
        <section>
            <input type="checkbox" name="">
            <label>Lorem ipsum dolor sit amet</label>
        </section>
    </form>
</body>
</html>