<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awesome -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!-- Estilos -->
    <% styles.forEach(style => { %>
        <link rel="stylesheet" href="/css/<%= style %> ">
    <% }) %>
    <link rel="stylesheet" href="/css/register.css">

    <title>Register</title>
</head>
<body>
    <section class="camera">
        <figure id="stream">
            <video id="video">Video stream not available.</video>
        </figure>
        <button id="takePic"><i class="fas fa-camera"></i></button> 
    </section>

    <canvas id="canvas">
    </canvas>

    <figure class="output">
        <img id="photo" alt="The screen capture will appear in this box.">
    </figure>

    <form action="/ballot" method="post">
        <section class="field">
            <label for="name">¡Paso final! Completá el form ;)</label>
            <input type="text" id="name" name="name" placeholder="Nombre y apellido completo"/>
            <input type="file" id="pic" name="pic" placeholder="Foto"/>
        </section>
        <button type="submit" name="continue" id="continue">Continuar</button>    
    </form>
    <!-- Creditos a Dani -->
    <!-- Script de captura -->
    <script src="/js/register.js"></script>

    <!-- Creditos a Stanko -->
    <!--<video id="video" playsinline crossorigin="anonymous"></video>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/register.js"></script>-->
</body>
</html>