<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!-- Estilos -->
    <% styles.forEach(style => { %>
        <link rel="stylesheet" href="/css/<%= style %> ">
    <% }) %>
    <link rel="stylesheet" href="/css/start.css">
    <title>Home</title>
</head>
<body>
    <article id="intro">
        <h2>Idea vs Idea</h2>
        <section>
            <article class="presentation">
                <p>¿Por qué elegimos a les candidates presidenciales?</p>
                <p>¿Le elijo porque estoy de acuerdo con sus propuestas?</p>
                <p>¿O porque provienen de nuestro partido predilecto?</p>
                <p>Si fueras a postularte, ¿qué tipo de candidate serias?</p>
                <p>¿Pertenecerías al partido que tenés en mente?
                <p>Averigüémoslo...</p>
            </article>
            <article class="instructions">
                <h3>Consignas:</h3>
                <p>1. Apretá el botón “Empezar”.</p>
                <p>2. Elegí las frases con las que te sientas más identificade.</p>
                <p class="warning">Ojo: ¡Hay un limite de tiempo de 2 minutos!</p>
                <p>3. Al finalizar sacate una foto e ingresá tu nombre completo.</p>
                <p class="warning">Spoiler: ¡Podrás llevarte el resultado a casa!</p>
            </article>
        </section>
        <section>
            <a href="/game">Empezar :)</a>
        </section>
    </article>
</body>
</html>