<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% styles.forEach(style => { %>
        <link rel="stylesheet" href="/css/<%= style %> ">
    <% }) %>
    <link rel="stylesheet" href="/css/start.css">
    <title>Home</title>
</head>
<body>
    <section class="presentation">
        <h2>¿Alguna vez pensaste en por qué elegimos a nuestros candidatos?</h2>
        <h2>¿Lo elijo porque apoyo y estoy de acuerdo con sus promesas y valores?</h2>
        <h2>¿O simplemente porque pertenece al partido electoral de mi preferencia?</h2>
        <h2>Averigüémoslo:</h2>
    </section>
    <section class="instructions">
        <h3>Consignas:</h3>
        <h3>1. Apretá el botón “Empezar”.</h3>
        <h3>2. Elegí las frases con las que te sientas más identificadx. Hay un límite de 
            tiempo, así que selecciona rápido y seguí tu instinto.</h3>
        <h3>3. Sacate una foto y rellena con tu nombre completo. Apretá el botón “Continuar”.</h3>
    </section>
    <a href="/game" id="begin">Empezar :)</a>
</body>
</html>